<h1><%= @cagematch.title %></h1>

  <div class="resource-name">tag_line</div>
  <div class="resource-data"><%= @cagematch.tag_line %></div>

  <div class="resource-name">time_slot</div>
  <div class="resource-data"><%= @cagematch.time_slot %></div>

  <div class="resource-name">slug</div>
  <div class="resource-data"><%= @cagematch.slug %></div>

  <div class="resource-name">theater_url</div>
  <div class="resource-data"><%= @cagematch.theater_url %></div>

  <div class="resource-name">theater_name</div>
  <div class="resource-data"><%= @cagematch.theater_name %></div>

  <div class="resource-name">venue_address</div>
  <div class="resource-data"><%= @cagematch.venue_address %></div>

  <div class="resource-name">box_office_url</div>
  <div class="resource-data"><%= @cagematch.box_office_url %></div>

  <div class="resource-name">box_office_phone_number</div>
  <div class="resource-data"><%= @cagematch.box_office_phone_number %></div>

  <div class="resource-name">ticket_price_description</div>
  <div class="resource-data"><%= @cagematch.ticket_price_description %></div>

  <div class="resource-name">ticket_price_description</div>
  <div class="resource-data"><%= @cagematch.ticket_price_description %></div>

  <div class="resource-name">show_description</div>
  <div class="resource-data"><%= @cagematch.show_description %></div>

  <div class="resource-name">logo_url</div>
  <div class="resource-data"><%= image_tag @cagematch.logo_url, class: 'resource-image' %></div>

  <div class="resource-name">show_picture_url</div>
  <div class="resource-data"><%= image_tag @cagematch.show_picture_url, class: 'resource-image' %></div>

<div>
  <%= link_to 'Edit', edit_cagematch_path(@cagematch), class: 'btn btn-edit' %>
  <%= link_to 'Back', cagematches_path, class: 'btn btn-view' %>
</div>
